@model DoAnCoSo.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitlnStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitlnStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestSellers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestSellers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetaKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetaKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
