@model IEnumerable<DoAnCoSo.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitlnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestSellers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetaKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitlnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestSellers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetaKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.CatId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
