@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model != null)
{
    foreach (var item in Model)
    {

        <tr>
            <th scope="row">@item.ProId</th>
            <th scope="row">@item.ProName</th>
            <!--
            <th scope="row"  style="width: 90px;">
                <img style="width: 90px; height: 90px " name="fThumb" asp-for="ProImage" src="~/img-PhuTungXe(BanMoi)/item.ProImage" />
            </th>
            -->
            <th scope="row">@item.Cat.CatName</th>
            <th scope="row">@item.ProPrice.ToString("#,##0") VND</th>
            <th scope="row" class="me-2 rounded-circle">
                <img style="width: 100px; height:100px; border:5px" src="~/img-PhuTungXe(BanMoi)/@item.ProImage" asp-append-version="true" alt="Chưa có Ảnh" />
            </th>
            <td>
                @if (item.UnitlnStock > 0)
                {
                    <div class="spinner-grow text-success m-2" role="status">
                    </div>

                }
                else
                {
                    <div class="spinner-grow text-danger m-2" role="status">
                    </div>
                }
            </td>
            <td scope="row">@item.Quantity</td>
            <td>
                <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProId">Edit</a>
                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProId">Details</a>
                <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>

    }
}
