@model IEnumerable<DoAnCoSo.Models.Category>

@{
    Category category = ViewBag.CurrentCate;
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
