@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<DoAnCoSo.Models.Product> 
@using X.PagedList
@{
    
    ViewData["Title"] = "Trang Các Sản Phẩm" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Các Sản Phẩm PHỤ TÙNG XE MÁY </h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/"> Trang Chủ</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Sản Phẩm Phụ Tùng</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                           
                            <div class="col-lg-12" style="margin-top: 40px;">
                                <div class="mb-3">
                                    <h4>Danh Mục sản phẩm</h4>
                                    @if (ViewBag.CategoriesWithProductCount != null)
                                    {
                                        <ul class="list-unstyled fruite-categorie">
                                            <!-- Liên kết để hiển thị tất cả sản phẩm (không lọc) -->
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="@Url.Action("Products", new { CatID = 0 })">
                                                        <i class="fa fa-motorcycle me-2" aria-hidden="true"></i>Hiển thị tất cả sản phẩm
                                                    </a>
                                                    
                                                </div>
                                            </li>

                                            <!-- Danh sách các danh mục và số lượng sản phẩm -->
                                            @foreach (var item in ViewBag.CategoriesWithProductCount)
                                            {
                                                <li>
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="@Url.Action("Products", new { CatID = item.CatId })">
                                                            <i class="fa fa-motorcycle me-2" aria-hidden="true"></i>@item.CatName
                                                        </a>
                                                        <span>(@item.ProductCount)</span>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                               
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Mức Giá</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold"><br>  <br> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @if (Model != null && Model.Count() > 0)
                            { 
                            @foreach (var item in Model)
                                {
                                string url = $"Detail/{item.ProId}.html";
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item">
                                            <a asp-route="ProductsDetail" asp-route-id="@item.ProId">
                                                <div class="fruite-img">
                                                    <img src="~/img-PhuTungXe(BanMoi)/@item.ProImage" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <a class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Chi Tiết Sản Phẩm</a>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>@item.ProName</h4>
                                                    <p>@item.ShortDes</p>
                                                    <div class="d-flex my-3">
                                                        <!--Hiển thị đánh giá bằng sao, thay thế bằng điểm đánh giá thực tế-->
                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            if (i < item.Rating)
                                                            {
                                                                <i class="fas fa-star text-primary"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fas fa-star"></i>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">@item.ProPrice.ToString("#,##0")VND</p>
                                                        <a class="btn border border-secondary rounded-pill px-3 text-primary"                               asp-action="Add"
                                                           asp-controller="Cart"
                                                            asp-route-id="@item.ProId"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm Vào Giỏ Hàng</a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }


                            <div class="col-12">
                               
                                <div aria-label="Page navigation example" class="btn-group mb-2 pagination d-flex justify-content-center mt-5">
                                    <ul class="pagination d-flex justify-content-center mt-5">
                                        <!-- Previous Page Button -->
                                        <li type="button" class="rounded @(Model.PageNumber == 1 ? "disabled" : "")">
                                            <a class="rounded" asp-route-CatId="@ViewBag.CurrentCateId"
                                               asp-route-page="@(Model.PageNumber - 1)">
                                                &laquo;
                                            </a>
                                        </li>
                                        <!-- Page Number Buttons -->
                                        @for (var i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li type="button" class="rounded @(i == Model.PageNumber ? "active" : "")">
                                                <a class="rounded" asp-route-CatId="@ViewBag.CurrentCateId"
                                                   asp-route-page="@i">
                                                    @i
                                                </a>
                                            </li>
                                        }

                                        <!-- Next Page Button -->
                                        <li type="button" class="rounded @(Model.PageNumber == Model.PageCount  ? "disabled" : "")">
                                            <a class="rounded" asp-route-CatId="@ViewBag.CurrentCateId"
                                               asp-route-page="@(Model.PageNumber + 1)">
                                                &raquo;
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->


